<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0  mt-6">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Campo de nombre de usuario -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username">Nombre de usuario</label>
              <input type="text" formControlName="username" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Nombre de usuario">
            </div>
            
            <!-- Campo de correo electrónico -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="email">Correo electrónico</label>
              <input type="email" formControlName="email" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Correo electrónico">
            </div>

            <!-- Campo de contraseña -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="password">Contraseña</label>
              <input type="password" formControlName="password" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Contraseña">
            </div>

            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="neighborhood">Barrio</label>
              <ng-select [items]="barrios"
                         bindLabel="name"
                         bindValue="value"
                         placeholder="Seleccione un barrio"
                         formControlName="neighborhood"
                         searchable="true">
              </ng-select>
            </div>

              <!-- Campo de dirección -->
              <div class="relative w-full mb-3">
                <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="address">Dirección</label>
                <input type="text" formControlName="address" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Dirección">
              </div>

            <!-- Campo de teléfono -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="phone">Teléfono</label>
              <input type="text" formControlName="phone" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150" placeholder="Teléfono">
            </div>

            <!-- Botón de registro -->
            <div class="text-center mt-6">
              <button class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150" type="submit">
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
