<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0">
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0  mt-8">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Campo de nombre de usuario -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="username">Nombre de
                usuario</label>
              <input type="text" formControlName="username"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Nombre de usuario">
            </div>

            <!-- Campo de correo electrónico -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="email">Correo
                electrónico</label>
              <input type="email" formControlName="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Correo electrónico">
            </div>

            <!-- Campo de contraseña -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="password">Contraseña</label>
              <input type="password" formControlName="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Contraseña">
            </div>
            <div class="relative w-full mb-3">
              <div class="relative mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="neighborhood">
                  Barrio
                </label>
                <input type="text" [formControl]="searchControl"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  placeholder="Buscar barrio" (focus)="showBarrios = true" (blur)="hideBarrios()">
                <div class="absolute w-full mt-1 rounded-md bg-white shadow-lg z-50" *ngIf="showBarrios">
                  <ul *ngIf="filteredBarrios.length > 0" class="max-h-60 overflow-auto">
                    <li *ngFor="let barrio of filteredBarrios.slice(0, 7); let i = index" (mousedown)="$event.preventDefault()" (click)="selectBarrio(barrio)"
                      class="cursor-pointer hover:bg-gray-100 px-4 py-2">
                      {{ barrio.name }}
                    </li>
                  </ul>
                  <div *ngIf="filteredBarrios.length === 0 && searchControl.value" class="px-4 py-2 text-gray-500">No se
                    encontraron barrios</div>
                </div>
              </div>
            </div>

            <!-- Campo de dirección -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="address">Dirección</label>
              <input type="text" formControlName="address"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Dirección">
            </div>

            <!-- Campo de teléfono -->
            <div class="relative w-full mb-3">
              <label class="block uppercase text-blueGray-600 text-xs font-bold mb-2" for="phone">Teléfono</label>
              <input type="text" formControlName="phone"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Teléfono">
            </div>

            <!-- Botón de registro -->
            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="submit">
                Crear cuenta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>