<app-auth-navbar></app-auth-navbar>
<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
  <div class="absolute top-0 w-full h-full min-h-screen-75 bg-center bg-cover" style="
    background-image: url('assets/img/banner_principal.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh; /* Ajusta esto según necesidades */
">
  <!-- Contenido adicional aquí si es necesario -->
  <span
      id="blackOverlay"
      class="w-full h-full absolute opacity-75 bg-black"
      style="
          background-color: rgba(0, 0, 0, 0.75); /* Oscurece el fondo con un overlay negro */
      "
  ></span>
</div>
  <!--   <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              Your story starts with us.
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              This is a simple example of a Landing Page you can build using
              Notus Angular. It features multiple CSS components based on the
              Tailwind CSS design system.
            </p>
          </div>
        </div>
      </div>
    </div> -->
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200 -mt-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full  bg-lightBlue-600"
              >
                <i class="fa fa-calendar"></i>
              </div>
              <h6 class="text-xl font-semibold">Calendario de recolección de basura</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Consulta los días y horarios de recolección de basura en tu área.
              </p>
            </div>
          </div>
        </div>

        <div class="w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-red-600"
              >
                <i class="fa fa-exclamation-triangle"></i>
              </div>
              <h6 class="text-xl font-semibold">Reporte de problemas</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                ¿Notaste un problema con la recolección de basura? ¡Haznos saber para solucionarlo.
              </p>
            </div>
          </div>
        </div>

        <div class="pt-6 w-full md:w-4/12 px-4 text-center">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
          >
            <div class="px-4 py-5 flex-auto">
              <div
                class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-500"
              >
                <i class="fa fa-file"></i>
              </div>
              <h6 class="text-xl font-semibold">Consejos de gestión de residuos</h6>
              <p class="mt-2 mb-4 text-blueGray-500">
                Descubre cómo puedes contribuir al medio ambiente con simples cambios en tu rutina diaria.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
          <div
            class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
          >
            <i class="fas fa-recycle text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Innovando en la Gestión de Residuos en Medellín
          </h3>
          <p
            class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600"
          >
            Participa activamente en la transformación ambiental de Medellín con nuestra aplicación PWA diseñada para optimizar la recolección y gestión de residuos.
          </p>
          <p
            class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600"
          >
            Aprovecha la planificación de rutas de recolección y accede a recursos educativos sobre reciclaje para hacer de Medellín una ciudad más limpia y verde.
          </p>
          <a href="/features" class="font-bold text-blueGray-700 mt-8">
            Descubre todas las funcionalidades
          </a>
        </div>
      
        <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-green-600"
          >
            <img
              alt="Medellín city clean up"
              src="assets/img/medellin.jpg"
              class="w-full align-middle rounded-t-lg"
            />
            <blockquote class="relative p-8 mb-4">
              <svg
                preserveAspectRatio="none"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 583 95"
                class="absolute left-0 w-full block h-95-px -top-94-px"
              >
                <polygon
                  points="-30,95 583,95 583,65"
                  class="text-green-600 fill-current"
                ></polygon>
              </svg>
              <h4 class="text-xl font-bold text-white">Compromiso Comunitario</h4>
              <p class="text-md font-light mt-2 text-white">
                Únete a los esfuerzos de la comunidad de Medellín en nuestro compromiso hacia la reducción de residuos y promoción de prácticas de reciclaje efectivas. Juntos podemos hacer la diferencia.
              </p>
            </blockquote>
          </div>
        </div>
      </div>      
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4" style="margin-bottom:-80px;">
          <h2 class="text-4xl font-semibold">Localiza puntos de recolección fácilmente</h2>
        </div>
      </div>
      <p class="text-lg leading-relaxed m-2 text-blueGray-500">
        Utiliza nuestro mapa interactivo para encontrar puntos de recolección de residuos posconsumo. Elige el tipo de residuo, descubre lugares cercanos, y obtén direcciones, horarios y contactos desde cualquier dispositivo.
        Este enfoque más breve mantiene la claridad y eficacia, facilitando a los usuarios la comprensión rápida de lo que ofrece el mapa.
      </p>
       <app-map-example></app-map-example>
      </div>
  </section>

  <section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Gestión de residuos y recolección en Medellín</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            Una plataforma dedicada a mejorar la recolección de residuos en nuestra ciudad a través de la participación activa y la información precisa.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap justify-center">
        <!-- Módulo de Reportes -->
        <div class="w-full md:w-6/12 lg:w-3/12 px-4 text-center">
          <div class="text-blueGray-800 p-3 w-24 h-24 shadow-lg rounded-full bg-white inline-flex items-center justify-center mb-6 mx-auto">
            <i class="fas fa-exclamation-triangle text-3xl"></i>
          </div>
          <h5 class="text-xl font-bold text-white">Reportes de Incidencias</h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            Crea y visualiza reportes sobre problemas de recolección de residuos para mejorar el servicio en tu comunidad.
          </p>
        </div>
        <!-- Calendario de Recolección -->
        <div class="w-full md:w-6/12 lg:w-3/12 px-4 text-center">
          <div class="text-blueGray-800 p-3 w-24 h-24 shadow-lg rounded-full bg-white inline-flex items-center justify-center mb-6 mx-auto">
            <i class="fas fa-calendar-alt text-3xl"></i>
          </div>
          <h5 class="text-xl font-bold text-white">Calendario de Recolección</h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            Consulta el calendario para estar al día con los horarios y días de recolección de basura en tu barrio.
          </p>
        </div>
      </div>
    </div>
  </section>
  

  <section class="pb-20 relative block bg-blueGray-800">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-800 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
      </div>
    </div>
  </section>
  <section class="relative block py-24 lg:pt-0 bg-blueGray-800">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center lg:-mt-64 -mt-48">
        <div class="w-full lg:w-6/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200"
          >
            <div class="flex-auto p-5 lg:p-10">
              <h4 class="text-3xl font-semibold">¿Quieres comunicarte con nosotros?</h4>
              <p class="leading-relaxed mt-1 mb-4 text-blueGray-500">
                Completa este formulario y nos pondremos en contacto contigo en menos de 24 horas.
              </p>
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <div class="relative w-full mb-3">
                  <input
                    type="text"
                    class="border-0 px-3 py-4 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Nombre Completo"
                    formControlName="fullName"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <input
                    type="email"
                    class="border-0 px-3 py-4 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Correo Electrónico"
                    formControlName="email"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <input
                    type="text"
                    class="border-0 px-3 py-4 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    placeholder="Teléfono"
                    formControlName="phone"
                  />
                </div>
                <div class="relative w-full mb-3">
                  <textarea
                    rows="4"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-lg shadow focus:outline-none focus:ring w-full"
                    placeholder="Escribe un mensaje..."
                    formControlName="message"
                  ></textarea>
                </div>
                <div class="text-center mt-6">
                  <button
                    class="bg-blueGray-800 text-white active:bg-blueGray-600 text-lg font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="submit"
                  >
                    Enviar Mensaje
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
   
</main>
<app-footer></app-footer>